@model  IEnumerable<InventoryManagementSystem.Domain.FuelRequestsMessageVM>
@{
    ViewBag.Title = "Recommend Fuel Requisition";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <div class="box-title"><i class="fa fa-list"></i> Recommend Fuel Requisition </div>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" type="button" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body tablefont">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Fuel Request No.</th>
                    <th>Requested Date</th>
                    <th>Requested By</th>
                    <th>Requesting Branch</th>
                    <th>Priority</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.FuelRequestNo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Requested_Date)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.RequestedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.BranchName)
                    </td>
                    <td>
                        @if (item.Priority == "N")
                        {
                            @Html.Raw("Normal");
                        }
                        else if (item.Priority == "H")
                        {
                            @Html.Raw("High");
                        }
                        else if (item.Priority == "L")
                        {
                            @Html.Raw("Low");
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("ViewRequested","FuelRecommend",new { id=item.Id})" class="btn btn-xs btn-info" title="View"><i>Recommend</i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

