@model InventoryManagementSystem.Domain.InRequisitionMessageVM
@{
    ViewBag.Title = "Acknowledge Requisition";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <div class="box-title"> <i class="fa fa-arrow-right"></i>Acknowledge Requisition</div>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" type="button" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.id)
        <div class="box-body tablefont">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h4 style="margin-bottom:10px; color:chocolate"><i class="fa fa-info-circle"></i> Acknowledge Requisition</h4>
            <div id="tadd">
                <table class="table table-bordered" id="tbl_create">
                    <thead class="thead-dark" style="height:20px">
                        <tr>
                            <th class="hidden">Product Id</th>
                            <th>Product Name</th>
                            <th>Unit</th>
                            <th class="hidden">Rate</th>
                            <th>Dispatched Qty</th>
                            <th>Received Qty</th>
                            <th>Remain To Received</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.indispList.OrderBy(x=>x.productname.Trim()))
                        {
                        <tr>
                            <td class="hidden">
                                @Html.DisplayFor(model => item.product_id)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.productname)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.unit)
                            </td>
                            <td class="hidden">
                                @Html.DisplayFor(model => item.p_rate)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.dispatched_qty)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.dispatched_qty)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.received_qty)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <fieldset style="list-style: circle; list-style-type: circle; width: 98%;">
                <legend style="color:forestgreen;font:bold;font-size:small">Requisition Information</legend>
                <div class="hidden">
                    @Html.TextBoxFor(model => model.id, new { id = "reqmesid" })
                </div>
                <div class="hidden">
                    @Html.TextBoxFor(model => model.dept_id, new { id = "deptid" })
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label for="deliverMessage">Dispatched Message</label>
                            @Html.TextAreaFor(model => model.Delivery_Message, new { rows = "3", cols = "150", id = "deliverMessage", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label for="acknowlmessage">Acknowledge Message</label> 
                            @Html.TextAreaFor(model => model.Acknowledged_Message, new { rows = "3", cols = "150", id = "acknowlmessage" })
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="box-footer">
                <div class="col-md-12 col-md-offset-8">
                    <button type="button" data-loading-text="Saving..Please Wait.." id="saveacknowledge" class="btn btn-success"><i class="fa fa-save"></i> Acknowledge</button>
                    <a href="/AcknowledgeRequisition/Index" class="btn btn-default"><i class="fa fa-close"></i> Cancel</a>
                </div>
            </div>
        </div>
    }
</div>
<script src="~/Scripts/Areas/AcknowledgeRequisition/ViewDispatched.js"></script>