@model InventoryManagementSystem.Domain.InRequisitionMessageVM
@{
    ViewBag.Title = "Approval History";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <div class="box-title"> <i class="fa fa-arrow-right"></i>Approval History</div>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" type="button" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.id)
        <div class="box-body tablefont">
            <div id="tadd">
                <table class="table table-bordered" id="tbl_create">
                    <thead class="thead-dark" style="height:20px">
                        <tr>
                            <th>Product Name</th>
                            <th>Requested Quantity</th>
                            <th>Package Unit</th>
                            <th>Approved Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.inreqList.OrderBy(x=>x.ProductName.Trim()))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.unit)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Approved_Quantity)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <fieldset style="list-style: circle; list-style-type: circle; width: 98%;">
                <legend style="color:forestgreen;font:bold;font-size:small">Approval Message</legend>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Approver_message, htmlAttributes: new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.Approver_message, new { rows = "3", cols = "130", id = "appmessage", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    }
</div>
