@model  IEnumerable<InventoryManagementSystem.Domain.InRequisitionMessageVM>
@{
    ViewBag.Title = "Approve Requisition";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <div class="box-title"><i class="fa fa-list"></i> Approve Requisition </div>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" type="button" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body tablefont" style="overflow:auto">
        <table class="table table-bordered noDataTable">
            <thead class="thead-dark">
                <tr>
                    <th>Req. Id</th>
                    <th>Requested <br />Date</th>
                    <th>Requested <br /> By</th>
                    <th>Recommended <br />By</th>
                    <th>Recommended <br /> Date</th>
                    <th>Requesting <br /> Branch</th>
                    <th>Approve</th>
                    <th>Requesting <br /> Department</th>
                    <th>Forwarded <br /> Branch</th>
                    <th>Is <br /> Schedule</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Requ_date)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.RequestedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.RecommendedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.recommed_date)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.RequestingBranch)
                        </td>
                        <td>
                            <a href="@Url.Action("ViewRecommended","ApproveRequisition",new { id=item.id})" class="btn btn-xs btn-info" title="View"><i>View</i></a>
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.RequestingDepartment)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.ForwardedBranch)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.IS_SCHEDULE)
                        </td>
                        <td>
                            @if (item.priority == "N")
                            {
                                @Html.Raw("Normal");
                            }
                            else if (item.priority == "H")
                            {
                                @Html.Raw("High");
                            }
                            else if (item.priority == "L")
                            {
                                @Html.Raw("Low");
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "order": [[4, 'desc']],
            "pageLength": 25
        });
    });
</script>
