@model InventoryManagementSystem.Domain.FixedAssetsViewModel.AssetProductVM
@{
    ViewBag.Title = Model.id == 0 ? "Add Product" : "Edit Product";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <div class="box-title">@((Model.id > 0) ? Html.Raw("<i class='fa fa-pencil'></i> Edit Product") : Html.Raw("<i class='fa fa-plus'></i> Add Product"))</div>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" type="button" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.id)
        @Html.HiddenFor(x => x.item_id)
        <div class="box-body formfont">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Group Name </label>
                        <input type="text" class="form-control" value="@ViewBag.ItemName" readonly="readonly" />
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ASSET_CODE, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.ASSET_CODE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(x => x.ASSET_CODE, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.porduct_code, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.porduct_code, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(x => x.porduct_code, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.product_desc, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.product_desc, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="col-md-12 col-md-offset-9">
                    <a href="/AssetGroupAndTypeSetup/Index" class="btn btn-default"><i class="fa fa-close"></i> Cancel</a>
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                </div>
            </div>
        </div>
    }
</div>
@Scripts.Render("~/bundles/jqueryval")


