@model InventoryManagementSystem.Domain.ChangePasswordVM
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-6 col-md-offset-3">
    <div class="box box-primary" style="margin-top:5%;">
        <div class="box-header with-border">
            <h3 class="box-title">Change Password</h3>

        </div>
        <div class="login-logo" style="margin-bottom: 10px; margin-top: 10px;">
            <span style="color: #00ff90"><b style="color: #ff6a00">Inventory</b>&nbsp;System</span>
        </div>
        <div class="box-body">
            @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(x => x.AuthId)
                <div class=" form-group has-feedback">
                    @Html.EditorFor(m => m.OldPassword, new { htmlAttributes = new { @type = "Password", @placeholder = "Old Password", @class = "form-control", @autocomplete = "off" } })
                    <span class="fa fa-lock form-control-feedback"></span>
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                </div>
                <div class=" form-group has-feedback">
                    @Html.EditorFor(m => m.NewPassword, new { htmlAttributes = new { @type = "Password", @placeholder = "New Password", @class = "form-control", @autocomplete = "off" } })
                    <span class="fa fa-lock form-control-feedback"></span>
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(m => m.ConfirmNewPassword, new { htmlAttributes = new { @type = "Password", @placeholder = "Confirm Password", @class = "form-control", @autocomplete = "off" } })
                    <span class="fa fa-lock form-control-feedback"></span>
                    @Html.ValidationMessageFor(m => m.ConfirmNewPassword, "", new { @class = "text-danger" })
                </div>
                <div class="row" style="margin-top:30px;">
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                    <div class="col-xs-4 pull-right">
                        <a href="/Home/Index" class="btn btn-default btn-block">Cancel</a>
                    </div>
                    <!-- /.col -->
                </div>
            }
        </div>
    </div>
</div>

