@model InventoryManagementSystem.Domain.AdminVM
@{
    ViewBag.Title = "Reset Password";
}

<div class="col-md-6 col-md-offset-3">
    <div class="box box-primary" style="margin-top:5%;">
        <div class="box-header with-border">
            <h3 class="box-title">Reset Password</h3>
        </div>
        <div class="login-logo" style="margin-bottom: 10px; margin-top: 10px;">
            <span style="color: #00ff90"><b style="color: #ff6a00">Inventory</b>&nbsp;System</span>
        </div>
        <div class="box-body">
            @using (Html.BeginForm("Index", "ResetPassword", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class=" form-group has-feedback">
                    @Html.EditorFor(m => m.UserName, new { htmlAttributes = new {@placeholder = "User Name", @class = "form-control", @autocomplete = "off" } })
                    <span class="fa fa-lock form-control-feedback"></span>
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
                <div class=" form-group has-feedback">
                    @Html.EditorFor(m => m.UserPassword, new { htmlAttributes = new { @placeholder = "New Password", @class = "form-control", @autocomplete = "off" } })
                    <span class="fa fa-lock form-control-feedback"></span>
                    @Html.ValidationMessageFor(m => m.UserPassword, "", new { @class = "text-danger" })
                </div>
                <div class="row" style="margin-top:30px;">
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </div>
                    <div class="col-xs-4 pull-right">
                        <a href="/Home/Index" class="btn btn-default btn-block">Cancel</a>
                    </div>
                    <!-- /.col -->
                </div>
            }
        </div>
    </div>
</div>
